@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* font-family: "Noto Sans KR", sans-serif; 100,300,400,500,700,900 */

/* layout */
#wrap {width: 100%;}
#header {}
#banner {width: 100%; height: 470px; background-color: #a0d1ee;}
#contents {}
#footer {}

/* container */
.container {width: 1200px; margin: 0 auto; position: relative; /* background-color: rgba(0,0,0,.4); */}

/* cont layout */
#cont1 {width: 100%; height: 940px; background-color: #f5f6f8;}
#cont2 {width: 100%; height: 555px; background-color: #efefef;}

/* footer layout */
#footer_notice {width: 100%; height: 71px; background-color: #fff;}
#footer_info {width: 100%; height: 240px; background-color: #f7f8f9;}

/* header */
.header {overflow: hidden;  font-family: 'hanaB';}
.header li {background: url(../img/bar1.gif) no-repeat 0 14px;}
.header li a {display: block; padding: 8px 15px; font-size: 13px; margin: 7px 0;}
.header .list1 {float: left; overflow: hidden;}
.header .list1 li {float: left;}
.header .list1 li.green a {background: #00907f; color: #fff; margin: 7px 0; border-radius: 3px;}
.header .list1 li a {color: #333;}
.header .list2 {float: right; overflow: hidden;}
.header .list2 li {float: left;}x
.header .list2 li.log {margin-right: 13px; background: none;}
.header .list2 li.log a {border: 1px solid #ccc; border-radius: 3px; padding: 3px 10px; margin: 11px 0;}
.header .list2 li a {color: #797979;}

/* ban_right */
.ban_right {width: 600px; position: absolute; right: 0; top: 50px;}
.ban_right .br_tit {height: 160px; background: #fff; padding: 45px 180px 60px 100px;}
.ban_right .br_tit h3 {font-size: 36px; letter-spacing: -1px; line-height: 44px; font-weight: 700;}
.ban_right .br_tit p {position: relative; padding-top: 50px; font-size: 14px;}
.ban_right .br_tit p:before {position: absolute; left: 0; top: 24px; content: ''; width: 30px; height: 2px; background-color: #009907;}
.ban_right .br_tit p strong {color: #00907f;}
.ban_right .br_tit .login_btn {position: absolute; right: 60px; top: 55px;}
.ban_right .br_tit .login_btn ul li {margin-bottom: 1px;}
.ban_right .br_tit .login_btn ul li a {width: 80px; height: 80px; display: block; text-align: center; font-size: 14px; color: #fff;}
.ban_right .br_tit .login_btn ul li.lb1 a{background: #db3360 url(../img/ico_login.png) no-repeat center 17px; padding-top: 50px; height: 30px; transition: background 0.3s ease;}
.ban_right .br_tit .login_btn ul li.lb1 a:hover {background-color: #c4204c;}
.ban_right .br_tit .login_btn ul li.lb2 a{background-color: #3c3f44; line-height: 80px; transition: all 0.3s ease;}
.ban_right .br_tit .login_btn ul li.lb2 a:hover {background-color: #333;}
.ban_right .br_btn {height: 50px; background: #00907f; margin-top: 25px;}
.ban_right .br_btn ul {overflow: hidden;}
.ban_right .br_btn li {position: relative; float: left; width: 25%; text-align: center; line-height: 50px; font-size: 14px;}
.ban_right .br_btn li:before {content: ''; width: 1px; height: 14px; background-color: #62bdb1; position: absolute; left: 0; top: 19px;}
.ban_right .br_btn li:first-child:before {width: 0; height: 0;}
.ban_right .br_btn li a {color: #fff; font-weight: 500;}

/* cont1 nav */
#nav {width: 100%; background: #fff; position: absolute; left: 0; top: -50px; font-family: 'HanaB'; padding: 30px 0; border-bottom: 1px solid #e6e6e6;}
#nav .gnb {padding-left: 60px;}
#nav .gnb li {display: inline; padding: 10PX;}
#nav .gnb li a {font-size: 17px; padding: 10PX 16px; display: inlile-block; transition: all 0.3s ease;}
#nav .gnb li a:hover {background-color: #00907f; color: #fff; border-radius: 3px;}
#nav .gnb_right {position: absolute; right: 50px; top: 20px; overflow: hidden;}
#nav .gnb_right li {float: left; margin-right: 10px;}
#nav .gnb_right li a{display: block; padding: 11px 20px; font-size: 14px;}
#nav .gnb_right li.gr1 a {border: 1px solid #e1e1e1; border-radius: 3px; transition: all 0.3s ease;}
#nav .gnb_right li.gr1 a:hover {background-color: #f4f4f4; color: #000;}
#nav .gnb_right li.gr2 a {border: 1px solid #404b57; border-radius: 3px; background-color: #404b57; color: #fff;}
#nav .gnb_right li.gr2 a:hover {background-color: #000; transition: all 0.3s ease;}
#nav .gnb_search {position: absolute; right: 290px; top: 20px; background: url(../img/gnb_search.png) no-repeat; display: block; width: 50px; height: 50px;}
#nav .gnb_right li.gr2 a i {padding-left: 5px;}
#nav .gnb_event {position: absolute; left: 20px; top: -35px; background-color: #3c3f44; color: #fff; text-transform: uppercase; line-height: 30px; font-size: 14px; padding: 3px 23px 2px 23px;}
#nav .gnb_event i {padding-left: 10px; font-weight: 100;}

/* cont1 card */
#card {overflow: hidden; padding-top: 40px;}
#card .card_img {float: left; width: 50%; height: 285px; background-color: #fff;}
#card .card_desc {float: left; width: 50%; height: 285px; background-color: #eaedef;}

/* cont1 card card_img */
.card_img {padding: 18px 47px 0; box-sizing: border-box;}
.card_img h4 {font-size: 18px; color: #000; font-weight: 500; padding-bottom: 11px;}
.card_img .card_banner {margin-bottom: 30px;}
.card_img .card_banner ul {overflow: hidden;}
.card_img .card_banner li {float: left; width: 146px; margin-left: 30px; text-align: center;}
.card_img .card_banner li:first-child {margin-left: 0;}
.card_img .card_banner li a img {width: 100%;}
.card_img .card_banner li a em{font-size: 14px; padding-top: 8px; display: block;}
.card_img .card_link {}
.card_img .card_link ul {overflow: hidden;}
.card_img .card_link li {float: left; margin-left: 10px;}
.card_img .card_link li:first-child {margin-left: 0;}
.card_img .card_link li a {border: 1px solid #e8e8e8; border-radius: 3px; padding: 10px 11px; display: block; font-size: 15px; text-align: center; box-sizing: border-box; transition: all 0.3s ease;}
.card_img .card_link li a:hover {border-color: #bbb; color: #000;}
.ie8 .card_img .card_link li a {padding: 10px 8px;}

/* cont1 cord card_desc */
.card_desc {padding: 50px 30px 0; box-sizing: border-box; text-align: center;}
.card_desc dl {}
.card_desc dt {font-size: 15px; color: #777; font-weight: 500;}
.card_desc dd.cd1 {margin: 26px 0 45px 0; font-size: 23px; color: #000;}
.card_desc dd.cd1:before {content: '"'; color: #00907f;}
.card_desc dd.cd1:after {content: '"'; color: #00907f;}
.card_desc dd.cd2 {}
.card_desc dd.cd2 ul {}
.card_desc dd.cd2 ul li {display: inline; margin: 0 1px;}
.card_desc dd.cd2 ul li a {background: #fff; padding: 8px 30px; display: inline-block; border: solid 1px #fff; border-radius: 3px; font-size: 15px; transition: all 0.3s ease;}
.card_desc dd.cd2 ul li a:hover {border-color: #bbb; color: #000;} 

/* cont1 event */
#event {}

    